@media only screen and (min-width:769px) and (max-width: 1024px) {

    *{
        /* border: 1px solid red; */
    }
    body{
        /* background-color: red; */
    }

    /* Header Section */

    .head{
        height: 1080px;
        width: 100%;
    }
    .logo{
        left: 50px;
    }
    .headnav{
        position: fixed;
    }
    .headarticle{
        top: 30%;
        left: 0%;
    }
    .headlast{
        position: absolute;
        top: 90%;
        left: 40%;
    }

    /* Body Section */

    .bodysec{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 870px;
        margin-left: 0%;
    }

    /* Section 1 */

    .sec1{
        width: 100%;
        height: 550px;
        background-color: #9AD0CF;
    }

    /* Image Section */

    .imgsec{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 1500px;
        padding-left: 0%;
    }

    /* Section 3 */
    
    .sec3art{
        color: #fff;
        width: 60%;
        left: 12%;
        position: relative;
        bottom: 325px;
        text-align: start;
        
    }

    /* Image Section 4 */

    .sec4{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .photo{
        width: 400px;
        height: 300px;
    }
    /* Section 5 */

    .sec5{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .sec5head{
        width: 100%;
    }
    .sec5m{
        width: 100%;
    }

    /* Section 6 */

    .sec61{
        height: 700px;
    }
    .sec62{
        height: 700px;
    }

    .sec6h{
        bottom: 600px;
    }

    .sec6block{
        width: 90%;
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: -6300px;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }
    .sec6article{
        font-size: 18px;
        margin-top: 20px;
        text-align: center;
    }
    .sec6article p{
        margin: 20px;
        font-size: 18px;
        font-weight: 400;
    }
    .sec6article h3{
        margin: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    /* Contact  */

    form{
        background-color: #fff;
        width: 600px;
        height: 600px;
        left: 100px;
        margin-top: 20px;
        padding-left: 20px;
    }

    /* Footer Section */
    footer{
        width: 100%;
    }
    .blockf{
        margin: 20px;
    }

}